/* Put your CSS here */
html, body {
    height: 100%;
}

.left-column {
    background-color: #e6e6e6;
    min-height: 900px !important;
}

.left-center-column {
    background-color: #7ab5d3;
    min-height: 900px !important;
}

.right-column {
    background-color: #faf2cc;
    min-height: 700px !important;
}

.right-center-column {
    background-color: #51a351;
    min-height: 900px !important;
}

.right-down-column{
    background-color: #f89406;
    margin-top: 5px;
    min-height: 200px !important;
}

.toolbar{
    background-color: #bd362f;
}
