/* Put your CSS here */
html, body {
    height: 100%;
    margin: 0px;
}

.left-column {
    background-color: #e6e6e6;
}

.left-center-column {
    background-color: #7ab5d3;
}

.right-column {
    background-color: #faf2cc;
}

.right-center-column {
    background-color: #51a351;
}

.right-down-column{
    background-color: #f89406;
    margin-top: 5px;
}

.toolbar{
    background-color: #ffffff;
    min-height: 62px;
}

.row-fluid [class*="span"] {
    /*margin-left: 0 !important;*/
}